.chart {
    -fx-background-color: transparent;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-legend {
    -fx-background-color: transparent;
    -fx-effect: null;
}

.chart-legend-item {
    -fx-background-color: transparent;
}

.chart-bar.series0 {
    -fx-bar-fill: darkgreen;
}

.chart-bar.series1 {
    -fx-bar-fill: firebrick;
}

.chart-legend-item-symbol.series0 {
    -fx-background-color: darkgreen;
}

.chart-legend-item-symbol.series1 {
    -fx-background-color: firebrick;
}
