.chart {
    -fx-background-color: transparent;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-legend {
    -fx-background-color: transparent;
    -fx-effect: null;
}

.chart-legend-item {
    -fx-background-color: transparent;
}

.chart-pie.data0 { 
    -fx-pie-color: #134374;
}

.chart-pie.data1 { 
    -fx-pie-color: #c3e3fd;
}

.chart-legend-item-symbol.data0 {
    -fx-background-color: #134374;
}

.chart-legend-item-symbol.data1 {
    -fx-background-color: #c3e3fd;
}
